*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Inizio caratteristiche header */
body{
    background-color: rgb(246, 248, 249);
}
  header {
    height: 70px;
    padding-top: 10px;
    margin-bottom: 30px;
    background-color: white;
  }

  .logo {
    height: 80%;
    vertical-align: middle;
    padding-left: 20px;
  }

  .title {
    display: inline;
    vertical-align: middle;
    font-weight: bold;
    font-size: 35px;
  }

/* Inizio main */


.little-container{ 
    background-color: white;
    border-radius: 10px 10px 0px 0px;
    height: 50px;
    margin: auto;
    width: 55%;
    padding: 10px;
    padding-left: 50px;
    margin-bottom: 2px;
    margin-top: 10px;
}

.container{
    border-radius: 0px 0px 10px 10px;
    background-color: white;
    height: 480px;
    margin: auto;
    width: 55%;
    padding: 10px;
    margin-bottom: 20px;
}

/* "Pulsanti" add task e add section */
.add{
    text-align: center;
    height: 28px;
    border: 1px solid rgb(185, 185, 185);
    width: 90px;
    font-size: 10px;
    font-weight: bold;
    border-radius: 6px;
    padding-top: 3px;
    margin-left: 20px;
    margin-top: 5px;
}

.section-button{
    margin-left: 7px;
    background-color: white;
    color: rgb(185, 185, 185);
}

.task-button{
    background-color: rgb(71, 173, 241);
    color: white;
}

/* Lista non ordinata */
ul{
    list-style: none;
    margin-top: 20px;
}

li{   
    padding: 6px;
    }

.query:before{
    content: '\25bc'
}

.query{
    font-weight: bold;
}


.unordered-list{
    padding-left: 50px;
}


/* Scritte ccon sfondo colorato nella lista non ordinata */

.editorial, .goals, .recruting, .mobile, .website, .sales{
    font-weight: bold;
    font-size: 9px;
    border-radius: 10px;
    padding: 6px;
    color: white;
}

.editorial{
    background-color: rgb(71, 173, 241);
}

.goals{
    background-color: rgb(156, 114, 228);
}

.recruting{
    background-color:rgb(39, 185, 180);
}

.mobile{
    background-color: orange;
}

.website{
    background-color: rgb(216, 99, 161);
}

.sales{
    background-color: rgb(23, 215, 100);
}

/* Validazioni a sinistra della lista non ordinata */

.circle{
    font-size: 8px;
    padding: 0 2px;
    border-radius: 50%;
    margin-right: 8px;
}

.cross, .valid{
    font-size: 12px;
}

.cross {
    color:red; 
    border: 1px solid red;
}

.valid{
    color: green;
    border: 1px solid green;    
}