*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #bdc8ce;
  }
/* Inizio caratteristiche header */
  header {
    height: 70px;
    padding-top: 10px;
    margin-bottom: 30px;
    background-color: white;
  }

  .logo {
    vertical-align: middle;
    padding-left: 20px;
  }

  .title {
    display: inline;
    vertical-align: middle;
    font-weight: bold;
    font-size: 40px;
    font-family: arial;
  }
